<h1>Request Form</h1>

<%= form_for @conn, new_path(@conn, :form), [as: :new], fn f -> %>
  <%= text_input f, :email, placeholder: "Email" %>
  <%= text_input f, :concept, placeholder: "Concept" %>
  <%= submit "Submit" %>
<% end %>
